@charset "UTF-8";

/* * {
    
    
} */

body {
    background-image: linear-gradient(to bottom, #c0f5fa, #048ba8);
    background-repeat: no-repeat;
    height: 100%;
}

main {
    background-color: white;
    margin: auto;
    padding: 20px;
    width: 600px;
    border-radius: 12px;
    box-shadow: 5px 5px 40px #033860;
}

h1 {
    color: #856a5d;
    text-shadow: 5px 5px 10px #5e4c435b;
}

h2 {
    color: #3a5a40;
}

p {
    text-align: justify;
}